In [1]:
print ("Hello am on anaconda")

Hello am on anaconda

In [2]:
type(9)

int

In [3]:
type(9.5)

float

In [4]:
type("HJJ")

str

In [5]:
49 ** 0.5

7.0

In [7]:
4 % 2

0

In [8]:
68451 % 8

3

In [9]:
#square
7**2

49

In [11]:
#cube of 7
7**3

343

In [8]:
why_me = "We litty"
why_me
Why_ma1 = "Becoz am a freak"
Why_ma1

'Becoz am a freak'

In [2]:
num_of_dogs=85
num_of_dogs

85

In [3]:
all, at, once = 5, 3, 86

In [4]:
at

3

In [5]:
once

86

In [9]:
#dynamic typing
awesomeness = True
print(awesomeness) #true

True

In [10]:
awesomeness = "a dog"
print(awesomeness) #a dog

a dog

In [11]:
awesomeness = None
print(awesomeness) #none

None

In [12]:
awesomeness = 22/7
print(awesomeness)

3.142857142857143

In [19]:
#none special case example
name = "Jones"
age = 22
child = None
child
name

'Jones'

In [24]:
#string escape sequences
msg = "I'm so funny i guess \nOr what do you say?"
print(msg)

I'm so funny i guess
Or what do you say?

In [26]:
#string formatting
guess = 8
print(f"your guess of {guess + 40} was incorrect!")#basiccally it converts whats in {} into a string

your guess of 48 was incorrect!

In [3]:
#string and indexes
nam = "Wayne"
nam[3]

'n'

In [4]:
str = "yessir"
str[-1] #it will count from backwards

'r'

In [5]:
#converting datatypes
num = 12
type(num)

int

In [6]:
num = float(num)
type(num)

float

In [7]:
num

12.0

In [12]:
#input
a = input("Enter your name: ")
b = input("Enter your age: ")

print(f"He said his/her first name is {a} and he/she is {b} years old")

Enter your name: Jones
Enter your age: 22
He said his/her first name is Jones and he/she is 22 years old

In [18]:
#note by default python accepts string input incase for integers and floats convert the datatype
var1 = input("Enter Num1: ")
var2 = input("Enter Num2: ")
#converting string input to float
m = float(var1)*float(var2)
s = int(var1)+int(var2)
print(f"The multiplication is {m} while the sum is {s}.")

Enter Num1: 58
Enter Num2: 45
The multiplication is 2610.0 while the sum is 103.

In [28]:
#or
v1 = input("Enter Num1: ")
v2 = input("Enter Num2: ")

dv = float(v1)/float(v2)
q = int(v1)**2
print(f"The division is {dv} while the squire of {v1} is {q}.")

Enter Num1: 15
Enter Num2: 35
The division is 0.42857142857142855 while the squire of 15 is 225.